<template>
    <script>
        var currentRow = 0;
        var currentCell = 0;

        function transferInputs(raw) {
            switch (raw) {
                case "left":
                    break;
                case "right":
                    break;
                case "up":
                    break;
                case "down":
                    break;
                case "A":
                    break;
                case "B":
                    break;
            }
        }

        function ChangeCurrentCell() {
            var tableRow = document.getElementsByTagName("tr")[currentRow];
            var tableCell = tableRow.childNodes[currentCell];
            tableCell.focus();
            tableCell.style.color = "Green";
        }
    </script>
    <center>
        <table>
            <tr>
                <td>
                    <div class="Box">
                        <center>
                            <div style="margin-bottom:11%">
                                <center>
                                    <img src="ronLogo.png" width="42%" />
                                </center>
                            </div>
                        </center>
                        <center>
                            <div>
                                <center>
                                    <span style="font-size:230%;">bitch1</span>
                                </center>
                            </div>
                        </center>
                    </div>
                </td>
                <td>
                    <div class="Box">
                        <center>
                            <div style="margin-bottom:11%">
                                <center>
                                    <img src="ronLogo.png" width="42%" />
                                </center>
                            </div>
                        </center>
                        <center>
                            <div>
                                <center>
                                    <span style="font-size:230%;">bitch2</span>
                                </center>
                            </div>
                        </center>
                    </div>
                </td>
                <td>
                    <div class="Box">
                        <center>
                            <div style="margin-bottom:11%">
                                <center>
                                    <img src="ronLogo.png" width="42%" />
                                </center>
                            </div>
                        </center>
                        <center>
                            <div>
                                <center>
                                    <span style="font-size:230%;">bitch3</span>
                                </center>
                            </div>
                        </center>
                    </div>
                </td>
                <td>
                    <div class="Box">
                        <center>
                            <div style="margin-bottom:11%">
                                <center>
                                    <img src="ronLogo.png" width="42%" />
                                </center>
                            </div>
                        </center>
                        <center>
                            <div>
                                <center>
                                    <span style="font-size:230%;">bitch4</span>
                                </center>
                            </div>
                        </center>
                    </div>
                </td>
            </tr>
        </table>
    </center>
</template>
