<template>
    <center>
        <table id="menu">
            <tr>
                <td>
                    <div class="Box">
                        <center>
                            <div style="margin-bottom:11%">
                                <center>
                                    <img src="ronLogo.png" width="42%" />
                                </center>
                            </div>
                        </center>
                        <center>
                            <div>
                                <center>
                                    <span style="font-size:230%;">bitch1</span>
                                </center>
                            </div>
                        </center>
                    </div>
                </td>
                <td>
                    <div class="Box">
                        <center>
                            <div style="margin-bottom:11%">
                                <center>
                                    <img src="ronLogo.png" width="42%" />
                                </center>
                            </div>
                        </center>
                        <center>
                            <div>
                                <center>
                                    <span style="font-size:230%;">bitch2</span>
                                </center>
                            </div>
                        </center>
                    </div>
                </td>
                <td>
                    <div class="Box">
                        <center>
                            <div style="margin-bottom:11%">
                                <center>
                                    <img src="ronLogo.png" width="42%" />
                                </center>
                            </div>
                        </center>
                        <center>
                            <div>
                                <center>
                                    <span style="font-size:230%;">bitch3</span>
                                </center>
                            </div>
                        </center>
                    </div>
                </td>
                <td>
                    <div class="Box">
                        <center>
                            <div style="margin-bottom:11%">
                                <center>
                                    <img src="ronLogo.png" width="42%" />
                                </center>
                            </div>
                        </center>
                        <center>
                            <div>
                                <center>
                                    <span style="font-size:230%;">bitch4</span>
                                </center>
                            </div>
                        </center>
                    </div>
                </td>
            </tr>
        </table>
    </center>
    <script>
        var currentRow = 0;
        var currentCell = 0;
        var table = document.getElementById("menu");
        //highlightCell();
        function transferInputs(raw) {
            switch (raw) {
                case "left":
                    unHighlightCell();
                    currentCell = (currentCell>0 && currentCell< table.rows[currentRow].cells.length) ? currentCell-1:currentCell;
                    highlightCell();
                    break;
                case "right":
                    unHighlightCell();
                    currentCell++;
                    highlightCell();
                    break;
                case "up":
                    unHighlightCell();
                    currentRow--;
                    highlightCell();
                    break;
                case "down":
                    unHighlightCell();
                    currentRow++;
                    highlightCell();
                    break;
                case "A":
                    break;
                case "B":
                    break;
            }
            console.log(currentRow + ":" + currentCell);
        }

        function highlightCell() {
            var x = document.getElementById("menu").rows[currentRow].cells[currentCell].getElementsByTagName('div')[0];
            x.style.background = "rgba(255, 255, 255, 0.85)";
        }
        function unHighlightCell() {
            var x = document.getElementById("menu").rows[currentRow].cells[currentCell].getElementsByTagName('div')[0];
            x.style.background = "rgba(255, 255, 255, 0.3)";
        }
    </script>
</template>
